<template>
  <div class="home">
    <dimension-form></dimension-form>
  </div>
</template>

<script>
import DimensionForm from '@/components/DimensionForm'
export default {
  name: 'home',
  components: {
    DimensionForm
  }
}
</script>
