<template>
<pozyx :anchors="getAnchors"></pozyx>
</template>

<script>
import Pozyx from '@/components/Pozyx'
import { mapGetters } from 'vuex'
export default {
  name: 'Location',
  components: { Pozyx },
  computed: {
    ...mapGetters(['getAnchors'])
  }
}
</script>

<style scoped>

</style>
