<template>
<v-card>
  <v-card-title>Location representation options</v-card-title>
  <v-card-text>
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
    >
      <v-row>
        <v-col cols="12">
          <div class="subtitle-2">Anchor 1</div>
        </v-col>
        <v-col>
          <v-text-field
            outlined
            type="number"
            v-model="anchors.a1.x"
            label="x"
          ></v-text-field>
        </v-col>
        <v-col>
          <v-text-field
            outlined
            type="number"
            v-model="anchors.a1.y"
            label="y"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12">
          <div class="subtitle-2">Anchor 2</div>
        </v-col>
        <v-col>
          <v-text-field
            outlined
            type="number"
            v-model="anchors.a2.x"
            label="x"
          ></v-text-field>
        </v-col>
        <v-col>
          <v-text-field
            outlined
            type="number"
            v-model="anchors.a2.y"
            label="y"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12">
          <div class="subtitle-2">Anchor 3</div>
        </v-col>
        <v-col>
          <v-text-field
            outlined
            type="number"
            v-model="anchors.a3.x"
            label="x"
          ></v-text-field>
        </v-col>
        <v-col>
          <v-text-field
            outlined
            type="number"
            v-model="anchors.a3.y"
            label="y"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12">
          <div class="subtitle-2">Anchor 4</div>
        </v-col>
        <v-col>
          <v-text-field
            outlined
            type="number"
            v-model="anchors.a4.x"
            label="x"
          ></v-text-field>
        </v-col>
        <v-col>
          <v-text-field
            outlined
            type="number"
            v-model="anchors.a4.y"
            label="y"
          ></v-text-field>
        </v-col>
      </v-row>
    </v-form>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        color="primary"
        class="mr-4"
        @click="setAnchorsCoordinates"
      >
        Start
      </v-btn>
    </v-card-actions>
  </v-card-text>
</v-card>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  name: 'DimensionForm',
  data () {
    return {
      valid: true,
      anchors: {
        a1: { x: 0, y: 0 },
        a2: { x: 0, y: 1500 },
        a3: { x: 2000, y: 1500 },
        a4: { x: 2000, y: 0 }
      }
    }
  },
  methods: {
    ...mapMutations({
      setAnchors: 'setAnchors'
    }),
    setAnchorsCoordinates () {
      this.setAnchors(this.anchors)
      this.$router.push({ name: 'location' })
    }
  }
}
</script>

<style scoped>

</style>
