<template>
<div>
  <v-row>
    <v-col>
      <v-text-field
        outlined
        type="number"
        v-model="inputSpeed"
        label="speed"
      ></v-text-field>
    </v-col>
    <v-col>
      <v-btn class="mt-2" color="primary" @click="changeSpeed">
        Go
      </v-btn>
    </v-col>
  </v-row>
  <div ref="pozyxContainer" id="pozyx-container">
    <canvas ref="pozyx"></canvas>
  </div>
</div>
</template>

<script>
import { Socket } from '@/utils/io'

export default {
  name: 'Pozyx',
  props: {
    anchors: {
      type: Object,
      default: () => ({
        a1: { x: 0, y: 0 },
        a2: { x: 0, y: 0 },
        a3: { x: 0, y: 0 },
        a4: { x: 0, y: 0 }
      })
    }
  },
  data: () => ({
    canvas: null,
    container: null,
    context: null,
    width: 0,
    height: 0,
    inputSpeed: 20,
    speed: 20,
    lastLocationArray: [],
    tempArray: null,
    pointsBuffer: [],
    init: true,
    drawInterval: null,
    initAnimation: true
  }),
  computed: {
    maxWidth () {
      const widths = [this.anchors.a1.x, this.anchors.a2.x, this.anchors.a3.x, this.anchors.a4.x]
      return Math.max(...widths)
    },
    maxHeight () {
      const heights = [this.anchors.a1.y, this.anchors.a2.y, this.anchors.a3.y, this.anchors.a4.y]
      return Math.max(...heights)
    }
  },
  methods: {
    setup () {
      if (this.drawInterval) {
        clearInterval(this.drawInterval)
      }
      this.container = this.$refs.pozyxContainer
      this.canvas = this.$refs.pozyx
      this.height = this.container.offsetHeight // Height del contenedor
      this.width = this.container.offsetWidth // width del contenedor

      if ((this.width > this.height && this.container.offsetWidth > this.maxWidth * (this.height / this.maxHeight)) ||
          (this.width < this.height && this.container.offsetHeight < this.maxHeight * (this.width / this.maxWidth))) {
        // El canvas ocupará el máximo del height y el width proporcional a las coordenadas reales.
        this.canvas.width = this.maxWidth * (this.height / this.maxHeight) // El width del canvas tiene que mantener el aspect ratio del maxWidth, pero en px
        this.canvas.height = this.height // Height del canvas igual
        this.context = this.canvas.getContext('2d')
        // El transform lo he aplicado antes, al calcular el height y width del canvas. El 5º parámetro es para centrar el canvas.
        this.context.transform(1, 0, 0, 1, (this.container.offsetWidth - this.width) / 2, 0) // Origen (0,0) abajo a la izquierda
      } else {
        // El canvas ocupará el máximo del width y el height proporcional a las coordenadas reales.
        this.canvas.width = this.width
        this.canvas.height = this.maxHeight * (this.width / this.maxWidth) // El height del canvas tiene que mantener el aspect ratio del maxHeight, pero en px
        this.context = this.canvas.getContext('2d')
        // El transform lo he aplicado antes, al calcular el height y width del canvas.
        this.context.transform(1, 0, 0, 1, 0, 0) // Origen (0,0) abajo a la izquierda
      }
      // Primera ubicación que se pinta
      // this.lastLocation.x = this.maxWidth / 2
      // this.lastLocation.y = this.maxHeight / 2

      // Solo se dispara la animación en el primer setup
      if (this.initAnimation) this.animate()
      this.initAnimation = false

      // Generador de datos dummy
      /*
      this.drawInterval = setInterval(() => {
        this.pointsBuffer.push({
          x: Math.floor(Math.random() * this.maxWidth),
          y: Math.floor(Math.random() * this.maxHeight)
        })
      }, 300)
       */
    },
    drawAnchor (x, y) {
      let newPoint = { x, y }
      newPoint.x = x * (this.canvas.width / this.maxWidth) // Change: this.width for this.canvas.width
      newPoint.y = y * (this.canvas.height / this.maxHeight) // Change: this.height for this.canvas.height
      if (+x > 0) newPoint.x -= 20
      if (+y > 0) newPoint.y -= 20
      this.context.fillStyle = 'black'
      this.context.fillRect(newPoint.x, newPoint.y, 20, 20)
    },
    drawLocation (x, y) {
      let newPoint = { x, y }
      newPoint.x = ((x * this.canvas.width) / this.maxWidth) - 5 // Change: this.width for this.canvas.width
      newPoint.y = ((y * this.canvas.height) / this.maxHeight) - 5 // Change: this.height for this.canvas.height
      this.context.beginPath()
      this.context.arc(newPoint.x, newPoint.y, 5, 0, 2 * Math.PI)
      this.context.fillStyle = 'red'
      this.context.fill()
    },
    changeSpeed () {
      this.speed = +this.inputSpeed
    },
    animate () {
      requestAnimationFrame(this.animate)
      this.context.clearRect(0, 0, this.width, this.height)
      this.drawAnchor(this.anchors.a1.x, this.anchors.a1.y)
      this.drawAnchor(this.anchors.a2.x, this.anchors.a2.y)
      this.drawAnchor(this.anchors.a3.x, this.anchors.a3.y)
      this.drawAnchor(this.anchors.a4.x, this.anchors.a4.y)
      console.log('INIT')
      if (this.pointsBuffer.length === 0 && !this.tempArray) {
        // this.drawLocation(this.lastLocation.x, this.lastLocation.y)
        console.log('buffer 0')
      } else if (!this.tempArray) {
        // this.tempPoint = this.pointsBuffer.shift()
        this.tempArray = this.pointsBuffer.shift()
        if (this.init) {
          this.init = false
          this.tempArray.forEach(tempPoint => {
            this.lastLocationArray.push({
              tagId: tempPoint.tagId,
              x: tempPoint.x,
              y: tempPoint.y
            })
          })
        }
      } else {
        var finished = false
        this.tempArray.forEach(tempPoint => {
          if (!tempPoint) return
          var lastLocationPoint = this.lastLocationArray.find(location => location.tagId === tempPoint.tagId)
          if (tempPoint.x > lastLocationPoint.x) {
            if (lastLocationPoint.x + this.speed > tempPoint.x) {
              lastLocationPoint.x = tempPoint.x
            } else {
              lastLocationPoint.x += this.speed
            }
          }
          if (tempPoint.x < lastLocationPoint.x) {
            if (lastLocationPoint.x - this.speed < tempPoint.x) {
              lastLocationPoint.x = tempPoint.x
            } else {
              lastLocationPoint.x -= this.speed
            }
          }
          if (tempPoint.y > lastLocationPoint.y) {
            if (lastLocationPoint.y + this.speed > tempPoint.y) {
              lastLocationPoint.y = tempPoint.y
            } else {
              lastLocationPoint.y += this.speed
            }
          }
          if (tempPoint.y < lastLocationPoint.y) {
            if (lastLocationPoint.y - this.speed < tempPoint.y) {
              lastLocationPoint.y = tempPoint.y
            } else {
              lastLocationPoint.y -= this.speed
            }
          }
          if (tempPoint.x === lastLocationPoint.x && tempPoint.y === lastLocationPoint.y) finished = true
          this.drawLocation(lastLocationPoint.x, lastLocationPoint.y)
        })
        if (finished) this.tempArray = null
      }
    },
    onPozyxData (data) {
      if (data.length > 0) {
        var auxArray = []
        data.forEach(tag => {
          const item = tag.data
          const tagId = tag.tagId
          auxArray.push({
            tagId: tagId,
            x: item.coordinates.x,
            y: item.coordinates.y
          })
        })
        this.pointsBuffer.push(auxArray)
      }
    }
  },
  mounted () {
    this.setup()
    window.addEventListener('resize', this.setup)
    Socket.on('pozyxData', this.onPozyxData)
  },
  beforeDestroy () {
    clearInterval(this.drawInterval)
    Socket.removeEventListener('pozyxData', this.onPozyxData)
  }
}
</script>

<style lang="scss" scoped>
canvas {
  margin: auto;
}
#pozyx-container {
  height: 80vh;
  display: flex;
}
</style>
