<template>
<v-app>
  <v-app-bar
    app
    color="deep-purple accent-4"
    dark
    hide-on-scroll
  >
    <v-toolbar-title>Eyelight Tracking</v-toolbar-title>
  </v-app-bar>
  <v-content>
    <v-container>
      <router-view></router-view>
    </v-container>
  </v-content>
</v-app>
</template>

<style lang="scss">
body, html {
  margin: 0;
  padding: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
